/* General componants */
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Sans-Serif';
}

.blue {
    color: #0065fc;
}

.lightblue {
    color: #deebff;
}

.grey {
    color: #f2f2f2;
}

.darkgrey {
    color: #D9D9D9;
}

/* Main container */
.main-container {
    width: 1340px;
    margin: 0 auto;
}

/* Header */
header {
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    margin: 30px 0 0 3px;
}

.header-navbar {
    flex-grow: 4;
    display: flex;
    flex-direction: row-reverse;
}

.header-navbar__item {
    width: 150px;
}

.header-navbar__lnk {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 115px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.anchor:hover {
    text-decoration: none;
    color: #0065fc;
    line-height: 111px;
    border-top: 2px solid #0065fc;
}

.sub {
    color: #0065fc;
    font-weight: bold;
    width: 125px;
}

/* Search section */
.search-container {
    margin-top: 23px;
    padding-left: 5px;
    line-height: 13px;
}

.search-container>h1 {
    font-size: 22px;
    font-weight: bolder;
}

.search-bar {
    display: inline-block;
    margin-top: 5px;
}

.search-bar__icon {
    font-size: 18px;
    display: inline-block;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    text-align: center;
    line-height: 51px;
    width: 51px;
    height: 51px;
}

.search-bar__input {
    position: relative;
    left: -4px;
    top: -1px;
    border: 1px solid #f2f2f2;
    height: 49px;
    width: 205px;
    font-size: 18px;
    font-weight: bolder;
    padding: 0 15px 0 15px;
    border-radius: 0;
    -webkit-appearance: none;
}

.search-bar__input:focus {
    outline: none;
}

.search-bar__button {
    position: relative;
    background: #0065fc;
    font-family: "Raleway", "Sans-Serif";
    font-size: 18px;
    color: white;
    height: 51px;
    border: none;
    padding: 0 18px 0 0;
    left: -9px;
    border-radius: 0 15px 15px 0;
}

.magnifying {
    display: none;
    visibility: hidden;
}

.search-bar__button::after {
    content: "Rechercher";
}

/* Filters */
.search-filters {
    display: flex;
}

.filters-label {
    margin: 25px 0 35px 10px;
    line-height: 55px;
    font-weight: bold;
    font-size: 18px;
}

.search-filters__list {
    display: flex;
    flex-flow: row wrap;
    margin: 25px 0 35px 20px;
}

.search-filters__item {
    cursor: pointer;
    height: 46px;
    line-height: 46px;
    font-weight: bold;
    font-size: 18px;
    padding-right: 22px;
    border: 2px solid #D9D9D9;
    border-radius: 24px;
    margin: 5px 13px;
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.search-filters__item:hover {
    background: #deebff;
    color: #0065fc;
    border-color: #deebff;
}

.filter-lever {
    position: relative;
    top: -2px;
    left: -4px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 26px;
    background: #deebff;
    color: #0065fc;
}

/* Info text */
.info-icon {
    position: relative;
    top: -2px;
    margin-right: 10px;
    display: inline-block;
    height: 23px;
    width: 23px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    text-align: center;
    line-height: 23px;
    font-size: 14px;
    color: #0065fc;
}

/* Accomodations */
.accomodations-container {
    margin: 35px 0 0 0;
    display: flex;
}

.accomodations {
    width: 66%;
    background: #f2f2f2;
    border-radius: 20px;
}

.accomodations>h2 {
    font-size: 22px;
    margin: 42px 0 -15px 40px;
}

.accomodations-list {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    margin: 25px;
}

.accomodation-list__item {
    flex: 1 1 200px;
    margin: 15px;
    max-height: 200px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.accomodation-list__item>img {
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
    width: calc(100% - 10px);
    height: calc(63% - 10px);
}

.acc-item__desc {
    width: 100%;
    padding-left: 15px;
    margin-top: -15px;
}

.acc-item__desc>h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -9px;
}

.acc-item__desc>p {
    font-size: 14px;
}

.acc-item__desc>.rating {
    display: block;
    margin-top: -6px;
    font-size: 12px;
}

.acc-item__desc>.rating>* {
    margin-right: -3px;
}

.accomodations-show-more {
    margin-left: 45px;
}

.accomodations-show-more>a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.accomodations-show-more>a:hover {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0065fc;
}

/* Popular */
.popular {
    width: calc(33% - 20px);
    background: #f2f2f2;
    border-radius: 20px;
    margin-left: 40px;
}

.popular__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px 38px -30px 38px;
    font-size: 15px;
}

.icon {
    font-size: 22px;
}

.popular-list {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
}

.popular-list__item {
    height: 144px;
    border-radius: 20px;
    background: white;
    margin: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
}

.popular-list__item>img {
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
    width: 127px;
    object-fit: cover;
}

.pop-item__desc {
    margin: 0 20px 0 15px;
}

.pop-item__desc>h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -8px;
}

.pop-item__desc>p {
    font-size: 14px;
}

.pop-item__desc>.rating {
    position: relative;
    top: 23px;
    left: -2px;
    font-size: 11px;
}

.pop-item__desc>.rating>* {
    margin-right: -1px;
}

/* Marseille Activities */
.activities-list {
    height: 550px;
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
}

.activities-list__item {
    width: 300px;
    height: 500px;
    flex: 1 1 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 20px;
    margin-bottom: 44px;
}

.activities-list__item>img {
    width: 100%;
    height: calc(100% - 50px);
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities-list__item>p {
    font-weight: bold;
    margin-left: 20px;
}

.half {
    height: 200px;
}

/* Footer */
footer {
    height: 218px;
    width: auto;
    background: #f2f2f2;
}

.footer-wrapper {
    width: 1340px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    flex: 0 1 auto;
    margin-right: 20px;
}

.footer-menu>h3 {
    font-size: 18px;
}

.footer-menu>ul {
    list-style-type: none;
    padding: 0;
}

.footer-menu>ul>li {
    margin: 10px 0 10px 0;
}

.footer-menu>ul>li>a {
    color: black;
    text-decoration: none;
}

.footer-menu>ul>li>a:hover {
    color: #0065fc;
}

/* Tablet version (big) */
@media screen and (max-width: 1340px) {
    .sub {
        color: #0065fc;
        font-weight: bold;
    }

    /* Main container */
    .main-container {
        width: auto;
        padding: 0;
    }

    /* Accomodations */
    .accomodations {
        width: auto;
        border-radius: 0 20px 20px 0;
        padding-bottom: 20px;
    }

    /* Popular */
    .popular {
        min-width: 390px;
        margin-left: 20px;
        border-radius: 20px 0 0 20px;
    }

    /* Marseille Activities */
    .activities>h2 {
        margin-left: 10px;
    }

    .footer-wrapper {
        width: 100%;
    }

    .activities-list {
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .activities-list__item {
        height: 300px;
        margin: 10px;
    }

    /* Footer */
    .footer-wrapper {
        width: auto;
        margin: 0;
        padding: 25px 0 0 20px;
    }
}

/* Tablet version (little) */
@media screen and (max-width: 800px) {

    /* Accomodations */
    .accomodations-container {
        flex-direction: column-reverse;
    }

    .accomodations {
        width: auto;
        padding-bottom: 20px;
        background: white;
    }

    /* Popular */
    .popular {
        width: auto;
        margin: 0 0 20px 0;
        border-radius: 0;
    }

    /* Marseille Activities */
    .activities>h2 {
        margin-left: 40px;
    }

    .activities-list__item {
        width: 100%;
        height: 300px;
        margin: 30px;
    }

    .activities-list {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 50px;
    }
}

/* Smartphones version */
@media screen and (max-width: 650px) {

    /* Header */
    header {
        height: 165px;
    }

    .header-navbar {
        position: absolute;
        top: 75px;
        width: 100%;
    }

    .header-navbar__item {
        width: 50%;
        height: 80px;
    }

    .header-navbar__lnk {
        line-height: 111px;
    }

    .anchor {
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }

    .anchor:hover {
        border-top: none;
        border-bottom: 3px solid #0065fc;
    }

    /* Search section */
    .search-container {
        padding: 0 20px 0 20px;
        line-height: 28px;
    }

    .search-container>h1 {
        font-size: 22px;
        font-weight: bolder;
        margin-bottom: -12px;
    }

    .search-bar__icon {
        margin-left: 10px;
    }

    .magnifying {
        display: inline;
        visibility: visible;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar__input {
        width: calc(100% - 51px - 93px);
    }

    .search-bar__button {
        margin-left: -12px;
        padding: 0 18px 0 18px;
        border-radius: 15px;
    }

    .search-bar__button::after {
        content: "";
    }

    /* Filters */
    .search-filters {
        display: flex;
        flex-direction: column;
    }

    .filters-label {
        margin: 10px 0 -30px 0;
        font-weight: bold;
        font-size: 18px;
    }

    .search-filters__list {
        display: flex;
        flex-flow: row wrap;
        margin: 25px 0 10px -10px;
    }

    .filter-lever {
        margin-right: 5px;
    }

    .search-filters__item {
        margin: 5px 5px;
        padding: 0 15px 0 0;
    }

    /* Accomodations */
    .accomodations-container {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .accomodations {
        width: auto;
        border-radius: 0;
        margin: -20px 0 0 0;
        padding: 0 0 20px 0;
    }

    .accomodations-list {
        flex-direction: column;
    }

    .accomodations>h2 {
        margin-bottom: 20px;
    }

    .accomodation-list__item {
        height: 200px;
        width: 100%;
        margin: 0 0 15px 0;

    }

    /* Popular */
    .popular {
        min-width: 0;
    }

    .popular-list {
        display: flex;
        flex-flow: column nowrap;
        padding: 20px;
    }

    .popular-list__item {
        height: 144px;
        border-radius: 20px;
        background: white;
        margin: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        display: flex;
    }

    .popular-list__item>img {
        border: 5px solid white;
        border-radius: 20px 0 0 20px;
        width: 127px;
        object-fit: cover;
    }

    .pop-item__desc {
        margin: 0 20px 0 15px;
    }

    .pop-item__desc>h3 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: -8px;
    }

    .pop-item__desc>p {
        font-size: 14px;
    }

    .pop-item__desc>.rating {
        position: relative;
        top: 23px;
        left: -2px;
        font-size: 11px;
    }

    .pop-item__desc>.rating>* {
        margin-right: -1px;
    }

    /* Marseille Activities */
    .activities-list {
        height: auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 0 25px 30px 25px;
    }

    .activities>h2 {
        margin-left: 40px;
    }

    .activities-list__item {
        width: 100%;
        height: 200px;
        margin: 10px;
    }

    /* Footer */
    footer {
        height: auto;
    }

    .footer-wrapper {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}